/* Basic css required for the index.html */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#viewport {
    width: 100%;
    height: 100%;
}

aside {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
}

/* Hide the sidebar for now */
aside {
    display: none;
}
